In [36]:
import numpy as np 
import pandas as pd 
from sklearn.preprocessing import StandardScaler
from xgboost import XGBClassifier

In [37]:
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")

In [38]:
train.head()

,ID,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_comer_ult3,imp_op_var40_efect_ult1,imp_op_var40_efect_ult3,...,saldo_medio_var33_hace2,saldo_medio_var33_hace3,saldo_medio_var33_ult1,saldo_medio_var33_ult3,saldo_medio_var44_hace2,saldo_medio_var44_hace3,saldo_medio_var44_ult1,saldo_medio_var44_ult3,var38,TARGET
0,1,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,39205.170000,0
1,3,2,34,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,49278.030000,0
2,4,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,67333.770000,0
3,8,2,37,0.0,195.0,195.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,64007.970000,0
4,10,2,39,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,117310.979016,0

In [39]:
train.describe()

,ID,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_comer_ult3,imp_op_var40_efect_ult1,imp_op_var40_efect_ult3,...,saldo_medio_var33_hace2,saldo_medio_var33_hace3,saldo_medio_var33_ult1,saldo_medio_var33_ult3,saldo_medio_var44_hace2,saldo_medio_var44_hace3,saldo_medio_var44_ult1,saldo_medio_var44_ult3,var38,TARGET
count,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,...,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,7.602000e+04,76020.000000
mean,75964.050723,-1523.199277,33.212865,86.208265,72.363067,119.529632,3.559130,6.472698,0.412946,0.567352,...,7.935824,1.365146,12.215580,8.784074,31.505324,1.858575,76.026165,56.614351,1.172358e+05,0.039569
std,43781.947379,39033.462364,12.956486,1614.757313,339.315831,546.266294,93.155749,153.737066,30.604864,36.513513,...,455.887218,113.959637,783.207399,538.439211,2013.125393,147.786584,4040.337842,2852.579397,1.826646e+05,0.194945
min,1.000000,-999999.000000,5.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.163750e+03,0.000000
25%,38104.750000,2.000000,23.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.787061e+04,0.000000
50%,76043.000000,2.000000,28.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.064092e+05,0.000000
75%,113748.750000,2.000000,40.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.187563e+05,0.000000
max,151838.000000,238.000000,105.000000,210000.000000,12888.030000,21024.810000,8237.820000,11073.570000,6600.000000,6600.000000,...,50003.880000,20385.720000,138831.630000,91778.730000,438329.220000,24650.010000,681462.900000,397884.300000,2.203474e+07,1.000000

In [40]:
train.info

<bound method DataFrame.info of            ID  var3  var15  imp_ent_var16_ult1  imp_op_var39_comer_ult1  \
0           1     2     23                 0.0                      0.0
1           3     2     34                 0.0                      0.0
2           4     2     23                 0.0                      0.0
3           8     2     37                 0.0                    195.0
4          10     2     39                 0.0                      0.0
...       ...   ...    ...                 ...                      ...
76015  151829     2     48                 0.0                      0.0
76016  151830     2     39                 0.0                      0.0
76017  151835     2     23                 0.0                      0.0
76018  151836     2     25                 0.0                      0.0
76019  151838     2     46                 0.0                      0.0

       imp_op_var39_comer_ult3  imp_op_var40_comer_ult1  \
0                          0.0                      0.0
1                          0.0                      0.0
2                          0.0                      0.0
3                        195.0                      0.0
4                          0.0                      0.0
...                        ...                      ...
76015                      0.0                      0.0
76016                      0.0                      0.0
76017                      0.0                      0.0
76018                      0.0                      0.0
76019                      0.0                      0.0

       imp_op_var40_comer_ult3  imp_op_var40_efect_ult1  \
0                          0.0                      0.0
1                          0.0                      0.0
2                          0.0                      0.0
3                          0.0                      0.0
4                          0.0                      0.0
...                        ...                      ...
76015                      0.0                      0.0
76016                      0.0                      0.0
76017                      0.0                      0.0
76018                      0.0                      0.0
76019                      0.0                      0.0

       imp_op_var40_efect_ult3  ...  saldo_medio_var33_hace2  \
0                          0.0  ...                      0.0
1                          0.0  ...                      0.0
2                          0.0  ...                      0.0
3                          0.0  ...                      0.0
4                          0.0  ...                      0.0
...                        ...  ...                      ...
76015                      0.0  ...                      0.0
76016                      0.0  ...                      0.0
76017                      0.0  ...                      0.0
76018                      0.0  ...                      0.0
76019                      0.0  ...                      0.0

       saldo_medio_var33_hace3  saldo_medio_var33_ult1  \
0                          0.0                     0.0
1                          0.0                     0.0
2                          0.0                     0.0
3                          0.0                     0.0
4                          0.0                     0.0
...                        ...                     ...
76015                      0.0                     0.0
76016                      0.0                     0.0
76017                      0.0                     0.0
76018                      0.0                     0.0
76019                      0.0                     0.0

       saldo_medio_var33_ult3  saldo_medio_var44_hace2  \
0                         0.0                      0.0
1                         0.0                      0.0
2                         0.0                      0.0
3                         0.0                      0.0
4                         0.0                      0.0
...                       ...                      ...
76015                     0.0                      0.0
76016                     0.0                      0.0
76017                     0.0                      0.0
76018                     0.0                      0.0
76019                     0.0                      0.0

       saldo_medio_var44_hace3  saldo_medio_var44_ult1  \
0                          0.0                     0.0
1                          0.0                     0.0
2                          0.0                     0.0
3                          0.0                     0.0
4                          0.0                     0.0
...                        ...                     ...
76015                      0.0                     0.0
76016                      0.0                     0.0
76017                      0.0                     0.0
76018                      0.0                     0.0
76019                      0.0                     0.0

       saldo_medio_var44_ult3          var38  TARGET
0                         0.0   39205.170000       0
1                         0.0   49278.030000       0
2                         0.0   67333.770000       0
3                         0.0   64007.970000       0
4                         0.0  117310.979016       0
...                       ...            ...     ...
76015                     0.0   60926.490000       0
76016                     0.0  118634.520000       0
76017                     0.0   74028.150000       0
76018                     0.0   84278.160000       0
76019                     0.0  117310.979016       0

[76020 rows x 371 columns]>

In [41]:
#dropping the values like ID

new_train = train.drop('ID', axis=1)
new_test = test.drop('ID', axis=1)

In [42]:
null_values = ['?', ' ', '', -999, -9999, '-']
for null_value in null_values:
  print(f"Value count for null type '{null_value}' is: ", (new_train == null_value).sum().sum())

Value count for null type '?' is:  0
Value count for null type ' ' is:  0
Value count for null type '' is:  0
Value count for null type '-999' is:  0
Value count for null type '-9999' is:  0
Value count for null type '-' is:  0

In [43]:
X_train = new_train.drop('TARGET', axis=1)
y_train = new_train['TARGET']

X_test = new_test

In [44]:
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

# Train an XGBoost classifier
model = XGBClassifier(use_label_encoder=False, eval_metric='logloss')
model.fit(X_train, y_train)

# Make predictions on the test set
y_pred_test = model.predict(X_test)

# Print predictions
print("Predictions on the test set:")
print(y_pred_test)

c:\Users\soumy\AppData\Local\Programs\Python\Python312\Lib\site-packages\xgboost\core.py:158: UserWarning: [20:48:45] WARNING: C:\buildkite-agent\builds\buildkite-windows-cpu-autoscaling-group-i-0ed59c031377d09b8-1\xgboost\xgboost-ci-windows\src\learner.cc:740:
Parameters: { "use_label_encoder" } are not used.

  warnings.warn(smsg, UserWarning)

Predictions on the test set:
[0 0 0 ... 0 0 0]

In [45]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, classification_report

# Split the training data into training and validation sets
X_train_split, X_val, y_train_split, y_val = train_test_split(X_train, y_train, test_size=0.2, random_state=42)

# Train the model on the training split
model.fit(X_train_split, y_train_split)

# Make predictions on the validation set
y_pred_val = model.predict(X_val)

# Calculate and print the accuracy
accuracy = accuracy_score(y_val, y_pred_val)
print("Validation Accuracy:", accuracy)

# Print the classification report
print("Classification Report on Validation Set:")
print(classification_report(y_val, y_pred_val))

c:\Users\soumy\AppData\Local\Programs\Python\Python312\Lib\site-packages\xgboost\core.py:158: UserWarning: [20:50:11] WARNING: C:\buildkite-agent\builds\buildkite-windows-cpu-autoscaling-group-i-0ed59c031377d09b8-1\xgboost\xgboost-ci-windows\src\learner.cc:740:
Parameters: { "use_label_encoder" } are not used.

  warnings.warn(smsg, UserWarning)

Validation Accuracy: 0.9597474348855565
Classification Report on Validation Set:
              precision    recall  f1-score   support

           0       0.96      1.00      0.98     14597
           1       0.33      0.01      0.02       607

    accuracy                           0.96     15204
   macro avg       0.65      0.50      0.50     15204
weighted avg       0.94      0.96      0.94     15204